html {
  position: relative;
  min-height: 100%;
}

body {
  position: static;
	font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 40px; /* bottom = footer height */
   /*background:linear-gradient(90deg, #556270 10%, #FF6B6B 90%);*/
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none !important;
	color: #058ebd !important;
}

a:visited {
	color: black;
}

.header{
  font-weight: bold;
	padding-bottom: 0.35em;
  /*margin-bottom: 0.75em; */
  /*border-bottom: solid 2px #CDCDCD;*/
  text-align: center;
}

.clearfix:after {
   content: " "; /* Older browsers do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.flash-container {
	margin-top: 0.25em;
}

.search-row{
	margin-top: 0.25em;	
}
.search-row input {
	width:255px;
}


.site-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    border-top: solid 1px #999999;
}


.dropdown-toggle, .dropdown-menu {
  font-size: 1em;
}

/*.btn-lg {
  margin-left: 0.75em;
  margin-right: 0.75em;
}*/

.primer-boton {
  margin-left: 0em;
  margin-right: 0.75em;
}

.embedded-yt, .embedded-spotify {
  margin-top: 1em;
}


h3 {
  padding-left: 20px;
}



.buscador {
  font-weight: bold;
  padding-bottom: 1em;
  margin-bottom: 1.1em;
  border-bottom: solid 2px #CDCDCD;
  text-align: center;
}

.song-container {
  margin-left:2em;
  margin-bottom:1.8em;

}

.all-songs-container:nth-child(even) {
    background-color: Gainsboro;
}
.all-songs-container:nth-child(odd) {
    background-color: LightGrey;
}

.pos-number {
  float: left;
}

.circulo {
    margin: 0 auto;

    color: white;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}


.alert {
  text-align: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px){
    .song-container {
      margin-bottom: 2em;
      border: 1px solid transparent;
    }
    .btn {
      font-size: 30px;
    }
    .buscador {
      font-size: 33px;
    }
}

.dl-title {
  margin-bottom: 2em;
}

.centered-container{
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}​
